.drop-down
{
  background: $gray1;
  ul
  {
    padding: 30px 0px 10px 0px;
    list-style-type: none;
    li:not(:last-child)
    {
      padding: 5px 0px;
      border-bottom: 1px solid darken($gray1,5%);
    }
  }
}
